$primary-color: #3829e0;
$secondary-color: #e0e0e0;

.order-summary-list {
  list-style: none;
  padding: 0;

  .order-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid $secondary-color;

    .item-name {
      color: $primary-color;
    }
    
    .item-price {
      font-weight: bold;
    }
  }
}